compiled/
*.o
pista-feed-battery
pista-feed-backlight-laptop
pista-feed-disk
pista-feed-helium-account-balance
pista-feed-memory
pista-feed-mpd
pista-feed-mpd-rkt
pista-feed-net
pista-feed-openweather
pista-feed-time
pista-feed-upower
pista-feed-volume
pista-feed-weather
pista-feed-weather-gov
pista-feed-x11-keymap
/target/
