compiled/
*.o
pista-sensor-battery
pista-sensor-backlight-laptop
pista-sensor-helium-account-balance
pista-sensor-memory
pista-sensor-mpd
pista-sensor-mpd-rkt
pista-sensor-openweather
pista-sensor-time
pista-sensor-upower
pista-sensor-weather
pista-sensor-weather-gov
pista-sensor-x11-keymap
/target/
